.home-page {
    background: url('../../assets/images/home-bg.svg') no-repeat;
    background-size: cover;
    top: 0;
    height: 100%;

    .text-zone {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 10%;
        top: 60%;
        transform: translateY(-50%);
        width: 80%;
        min-width: 800px;
        max-height: 75%;
        text-align: center;
        justify-content: center;
        align-items: center;

        h1 {
            color: var(--text-color);
            font-size: 100px;
            line-height: 120px;
            letter-spacing: -7px;
            font-family: 'Helvetica-Neu', sans-serif;
            font-weight: 1000;
            margin: 0;
        }

        h2 {
            color: var(--text-color);
            font-family: 'Montserrat-Thin';
            font-size: 20px;
            line-height: 26px;
            font-weight: 200;
            letter-spacing: 0px;
            max-width: 600px;
            animation: fadeIn 1s 1.5s backwards;

            .home-name {
                color: var(--accent-color);
            }
        }

        .flat-button {
            color: var(--general-color);
            background: var(--accent-color);
            font-size: 13px;
            width: 150px;
            font-weight: 400;
            letter-spacing: 4px;
            font-family: sans-serif;
            text-decoration: none;
            padding: 10px 18px;
            border: 1px solid var(--accent-color);
            border-radius: 4px;
            margin-top: 25px;
            white-space: nowrap;
            animation: fadeIn 1s 1.8s backwards;
            transition: all .2s ease-in-out;

            &:hover {
                background: var(--general-color);
                color: var(--accent-color);
            }
        }

        
    }
}

@media screen and (max-width: 920px) {
    .home-page {
        background: url('../../assets/images/home-bg.svg') no-repeat center fixed;
        background-size: cover;


        .text-zone {
            position: absolute;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin: 0;
            top: 50%;
            min-width: 260px;


            h1 {
                font-size: 30px;
                line-height: 36px;
                letter-spacing: -2px;
                max-width: 300px;
                margin-bottom: 5%;
            }

            h2 {
                font-size: 18px;
                line-height: 23px;
                letter-spacing: 0px;
                max-width: 478px;
            }

            .flat-button {
                max-width: 125px;
                margin-top: 40px;
                transition: all .2s ease-in-out;
            }

            
        }
    }
}