.home-page {
    background:url('../../assets/images/home-bg.jpg') no-repeat fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        min-width: 800px;
        max-height: 90%;
    }

    h1 {
        color: var(--text-color);
        font-size: 75px;
        margin-top: 0;
        font-family: 'Montserrat-Bold', sans-serif;
        font-weight: 600;
        letter-spacing: 3px;

    }

    h2 {
        color: var(--text-color);
        margin-top: 20px;
        font-weight: 400;
        font-size: 18px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 2s backwards;
    }

    .subtitle {
        color: var(--text-color);
        font-size: 12px;
        letter-spacing: 3px;
        font-family: sans-serif;
        animation: fadeIn 1s 1.5s backwards;
    }

    .flat-button {
        color: var(--text-color);
        background: var(--accent-color);
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid var(--accent-color);
        border-radius: 3px;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        transition: all .2s ease-in-out;

        &:hover {
            background: var(--text-color);
            color: var(--accent-color);
        }
    }
}

@media screen and (max-width: 920px) {
    .home-page {
        background:url('../../assets/images/home-bg.jpg') no-repeat center fixed;

        .text-zone {
            display: flex;
            flex-direction: column;
            width: 80%;
            max-height: 80%;


            h1 {
                font-size: 32px;
            }
            h2 {
                font-size: 12px;
            }

            .subtitle {
                font-size: 11px;
            }

            .flat-button {
                max-width: 125px;
                margin-top: 25px;
                transition: all .2s ease-in-out;
            }


        }

    }
}